/* Reset styles */
body, h1, h2, h3, p, ul, li, form {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #000;
  color: #fff;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #333;
  padding: 10px 0;
}

header .container h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

main .section {
  padding: 40px 0;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.skills-list {
  columns: 2;
  list-style: none;
}

.skills-list li {
}

.project {
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.timeline {
  width: 600px;
  margin: 50px auto;
  position: relative;
}

#pipe {
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.point {
  fill: #007bff;
  cursor: pointer;
}

.date {
  font-size: 12px;
  text-anchor: middle;
  fill: blue;
}

.overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}


.overlay-content {
  text-align: center;
}

.overlay-content #company-details {
  margin-top: 10px;
}
